asgiref==3.11.1
Django==6.0.3
django-jazzmin==3.0.4
et_xmlfile==2.0.0
git-filter-repo==2.47.0
mysqlclient==2.2.8
numpy==2.4.4
openpyxl==3.1.5
pandas==3.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
six==1.17.0
sqlparse==0.5.5
