asgiref==3.11.1
boto3==1.43.3
botocore==1.43.3
Django==6.0.3
django-debug-toolbar==6.3.0
django-jazzmin==3.0.4
django-storages==1.14.6
et_xmlfile==2.0.0
git-filter-repo==2.47.0
jmespath==1.1.0
mysqlclient==2.2.8
numpy==2.4.4
openpyxl==3.1.5
pandas==3.0.2
pillow==12.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
s3transfer==0.17.0
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
